@import "bootstrap/bootstrap.less";

@font-size-base: 13px;
@font-regular: "Roboto", sans-serif;

h2 {
  font-size: 18px;
  color: #7A8491;
}

h3 {
  font-size: 14px;
  color: #233137;
}

h4 {
  font-size: 13px;
  color: #556473;
  font-weight: 500;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    font-family: @font-regular;
    cursor:default;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
//General
.row {
  margin: 0;
  padding: 0;
  display: flex;
}
.container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
}
#content {
  height: 100%;
}
#searchContainer {
  border-right: 1px solid #e1e8ef;
  padding-left: 0;
  //display: flex;
  //flex:1 auto;
}
.row {
  width: 100%;
}
.row-eq-height {
  display: -webkit-box;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
#sidebar {
  padding-top: 30px;
  background-color: white;
  margin: 0;
  border-right: 1px solid #e1e8ef;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#navigator {
  flex: 1 auto;
  display: flex;
}
#runstate {
  flex: 0 auto;
  display: flex;
  min-height: 47px;
  font-size: 12px;
  color: #9aa7bb;
  padding: 10px;
}
#overview {
  display: flex;
  -webkit-order: 1;
  -webkit-flex: 0 1 auto;
  align-self: stretch;
}
//Panels
.settings-panel{
  flex: 1 auto;
}
//Forms
.form-group {
  margin-bottom: 5px;
}
.control-label {
  padding-right: 0;
  padding-left: 5px;
}
.search-header {
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  color: #7a8491;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;

}
.detail-header {
  flex: 1 auto;
  color: #7a8491;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  background-color: transparent;
}
#navigator ul {
  list-style: none;
  padding-left: 20px;
}
#navigator ul a {
    color: #7a8491;
    cursor: default;
    outline: none;
    transition: color 0.25s;
    margin-left: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#navigator ul a.active li {
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(-180deg, #00978e 4%, #1a7575 100%);
}
#navigator ul a:hover {
  text-decoration: none;
}
#navigator ul a:hover li {
  cursor: default;
  border-radius: 10px;
  background-color: #e1e8ef;
}
#navigator ul a:focus {
  text-decoration: none;
}
#navigator ul li {
  padding: 5px 12px;
  display: flex;
  flex-direction: row;
}
//Dashboard
.title {
  font-size: 34px;
  color: #333;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 30px;
}
p.lead {
  margin-left: 30px;
  margin-bottom: 100px;
}
.intro {
  font-size: 14px;
  color: #5E5E5E;
  line-height: 24px;
  padding-left: 30px;
  padding-top: 30px;
  width: 100%;
  background: #FAFAFA none repeat scroll 0% 0%;
}
